body{
	background-color:white; 
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1E1E1E;
}

li{
	float: left;
}	
	
li a{
	display: block;
	color: white;
	text-align: center;
	 padding: 15px 17px;
	text-decoration: none;
}

li a:hover:not(.active){
	text-decoration: none;
}

a:link, a:visited {
	text-decoration: none
}

#id1{	
	text-align:left;
	width:200px;
	height:200px;
	float:left;	
}

#id2{		
	position: absolute;
	bottom: 0;
	text-align:right;
	width:680px;
	height:156px;
	float:left;	
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1E1E1E;
}

li {
	float: left;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 15px 17px;
	text-decoration: none;
}

li a:hover:not(.active){
	background-color: #111;
}

.active{
	background-color: #4CAF50;
}			
						
a:link, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none; 
	color: none;
}

.dropbtn:hover, .dropbtn:focus {
	 background-color: #2980B9;
}

.dropdown {
	 position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 100px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 10px 13px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover{
	background-color: #ddd;
}

.show{
	display: block;
}
			
.tab-container {
    width: 100%;
    background-color: #FFF;
}

.form-style-8{
	font-family: 'Open Sans Condensed', arial, sans;
				width: 500px;
				padding: 30px;
				background: #FFFFFF;
				margin: 50px auto;
				box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
				-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
				-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
			}
			.form-style-8 h2{
				background: #4D4D4D;
				text-transform: uppercase;
				font-family: 'Open Sans Condensed', sans-serif;
				color: #797979;
				font-size: 18px;
				font-weight: 100;
				padding: 20px;
				margin: -30px -30px 30px -30px;
			}
			.form-style-8 input[type="text"],
			.form-style-8 input[type="date"],
			.form-style-8 input[type="datetime"],
			.form-style-8 input[type="email"],
			.form-style-8 input[type="number"],
			.form-style-8 input[type="search"],
			.form-style-8 input[type="time"],
			.form-style-8 input[type="url"],
			.form-style-8 input[type="password"],
			.form-style-8 textarea,
			.form-style-8 select{
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				outline: none;
				display: block;
				width: 100%;
				padding: 7px;
				border: none;
				border-bottom: 1px solid #ddd;
				background: transparent;
				margin-bottom: 10px;
				font: 16px Arial, Helvetica, sans-serif;
				height: 45px;
			}
			.form-style-8 textarea{
				resize:500;
				height: 150px;
			}
			.form-style-8 input[type="button"], 
			.form-style-8 input[type="submit"]{
				-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
				-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
				box-shadow: inset 0px 1px 0px 0px #45D6D6;
				background-color: #2CBBBB;
				border: 1px solid #27A0A0;
				display: inline-block;
				cursor: pointer;
				color: #FFFFFF;
				font-family: 'Open Sans Condensed', sans-serif;
				font-size: 14px;
				padding: 8px 18px;
				text-decoration: none;
				text-transform: uppercase;
			}
			.form-style-8 input[type="button"]:hover, 
			.form-style-8 input[type="submit"]:hover {
				background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
				background-color:#34CACA;
			}
			div.id1 {
				width: 200;
				float:left;
			}
			div.id2 {
				width: 240;
				float:right;
			}			
			
