<h1>Cadastrar Conta</h1>
<form [formGroup]="formCadastrar" (ngSubmit)="submitForm()">
    <label>email: </label>
    <input type="text" formControlName="email"><br>
    <div *ngIf="formCadastrar.controls['email'].touched">
        <small *ngIf="formCadastrar.controls['email'].hasError('required')" style="color: red;">O email é obrigatório</small>
        <small *ngIf="formCadastrar.controls['email'].hasError('email')" style="color: red;">O campo email precisa ter no mínimo 5 caracteres</small>
    </div>
    <label>Senha: </label>
    <input type="password" formControlName="password">
    <div *ngIf="formCadastrar.controls['password'].touched">
        <small *ngIf="formCadastrar.controls['password'].hasError('required')" style="color: red;">O senho é obrigatório</small>
    </div><br>
    <label>Confirmar Senha: </label>
    <input type="password" formControlName="confirmPassword">
    <div *ngIf="formCadastrar.controls['confirmPassword'].touched">
        <small *ngIf="formCadastrar.controls['confirmPassword'].hasError('required')" style="color: red;">O senho é obrigatório</small>
        <small *ngIf="formCadastrar.controls['confirmPassword'].value != formCadastrar.controls['password'].value" style="color: red;">senha errada</small>
    </div>
    <button type="submit">Salvar</button>
    
</form>
<!--<button (click)="logarComGoogleCount()">Login com google</button><br>-->
<a routerLink="/login">Entre em Sua conta</a>