h2{
	color:#0000ff;
}
h3{
	color:#ff0f00;
}
a:link {
  color: hotpink;
}
a:visited {
  color: green;
}
a:hover {
  color: hotpink;
}
a:active {
  color: blue;
}
.bxo-div-ft {
	padding: 20px;
	text-align: center;
	font-size: 20px;
}
.div-top{
	width: 25%;
	display: inline-block;
	vertical-align: top;
	height:50%;
}
.meio{
	width:95%;
	margin-left: 30px;
	border-bottom: 2px solid purple;
}