<router-outlet></router-outlet>
<!-- 

 <h1>Lista de Produtos</h1>
<table>
  <tr>
    <th>Nome</th>
    <th>Preço</th>
    <th>Operação</th>
  </tr>
  <tr *ngFor="let produto of lista_produtos let i = index">
    <td>{{produto.getNome()}}</td>
    <td>{{produto.getPreco()}}</td>
    <td>
      <button (click)="excluir(i)">Excluir</button>
    </td>
    <td>
      <button (click)="editar(i)">Editar</button>
    </td>
  </tr>
</table>
<hr>
<hr>

<div *ngIf="!edicao; else edicaoDeProduto">
  <h1>Adicionar Produto</h1>
</div>
<ng-template #edicaoDeProduto>
  <h1>Editar Produto</h1>
</ng-template>

<label>Nome: </label>
<input type="text" [(ngModel)]="nome"><br>
<label>Preço: </label>
<input type="number" [(ngModel)]="preco">
<button (click)="salvar()">Salvar</button> -->