.form{
	width: 25%;
	display: inline-block;

	vertical-align: top;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}


.container{
	margin-top: 10px;
	background: #f5f5f5;
	box-shadow: 20px 20px 35px #d0d0d0, -20px -20px 35px #ffffff;
	border-radius: 50px;
	width: 75%;
	margin: auto;
	padding: 40px;
	padding-left: 23%;
}